SECRET_KEY="random key"

DEBUG=True

ALLOWED_HOSTS=
DJANGO_SETTINGS_MODULE=config.settings.development

# Database
DATABASE_URL=

# Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Redis
REDIS_BACKEND=redis://127.0.0.1:6379/0