SECRET_KEY="random key"

DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_SETTINGS_MODULE=config.settings.development

# Database
DATABASE_URL=postgres://wagu:password@localhost:5432/chatbot

# Celery
CELERY_BROKER_URL=redis://127.0.0.1:6379/0

# Redis
REDIS_BACKEND=redis://127.0.0.1:6379/0